@model Homework6_BdayCard.Models.BirthdayCard

<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>BdayCardForm</title>
</head>

@{
    Layout = null;
}

<!DOCTYPE html>



@using (Html.BeginForm())
{
    @Html.ValidationSummary()



    <H2 class="card-header">Birthday Card Generator</H2>
    <p></p>
    <p></p>
    <H1 class="h1">Send a Birthday Card</H1>
    <p></p>

    <p>
        <label>From:</label> @Html.TextBoxFor(model=>model.FromWho,
       new { @class = "form-control", maxlength = 30, style = "width:200px"})
    </p>

    <p>
        <label>To:</label> @Html.TextBoxFor(model=>model.ToWho,
          new {@class = "form-control", maxlength = 30, style = "width:200px"})
    </p>

    <p>
        <label>Message:</label> @Html.TextBoxFor(model=>model.Message,
          new {@class = "form-control", maxlength = 30, style = "width:200px"})
    </p>

    <p></p>
    <input type="submit" value="Send Card" class="btn btn-success"/>

    <p></p>
    <footer>
        <p>
            &copy; 2019 - My ASP.NET Application
        </p>
    </footer>






}